*{
    margin:0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;

}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    flex-direction: column;
}
.blog-heading span{
    color: rgb(11, 192, 238);
}
.blog-heading h3{
    font-size: 2.4rem;
    color: hsla(199, 89%, 49%, 1);
    color: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
    font-weight: 600;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: 20px 0px;
    flex-wrap: wrap;
}
.blog-box{
    width: 350px;
    background-color: hsla(222, 44%, 13%, 1);
    border: 1px solid white;
    margin: 20px;
    height: 472px;
    
}
.blog-img{
    width: 100%;
    height: 250px;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: rgb(11, 192, 238);
    font-size: 0.9rem;
}
.blog-text .blog-title{
    font-size: 20px;
    font-weight: 500;
    color: hsla(199, 69%, 84%, 1);
}
.blog-text .blog-title:hover{
    color: rgb(11, 192, 238);
    transition: all ease 0.3s;
}
.blog-text p{
    color: #9b9b9b;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #0f0f0f;
}
.blog-text a:hover{
    color: rgb(11, 192, 238);
    transition: all ease 0.3s;
}
@media(max-width:1250px){
    .blog-box{
        width: 300px;
    }
}
@media(max-width:1100px){
    .blog-box{
        width: 70%;
    }
}
@media(max-width:550px){
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding: 20px;
    }
}