* {
    box-sizing: border-box;
    /* background-color: hsla(216, 33%, 20%, 1); */
  }
  
  body {
    font-family: Arial;
    padding: 20px;
    /* background: hsla(216, 33%, 20%, 1); */
  }
  
  /* Header/Blog Title */
  .header1 {
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 0px;
    font-size: 45px;
    text-align: center;
    color: hsla(199, 89%, 49%, 1);
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  /* .leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  /* .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  } */ */
  
  /* Fake image */
  .fakeimg {
    background-color: hsla(216, 33%, 20%, 1);
    width: 100px;
    padding: 20px;
  }
  .text img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }.text p b{
    font-size: 25px;
  }
  .text{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    font-size: 17px;
    color: #ffffff;
    padding-bottom: 40px;
  }
  .heading{
    color:white;
    padding-bottom:0px;
    padding-left: 100px;
    padding-right:100px;
    padding-top: 0px;
    font-size: 18px;
  }

  
  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  } */
  
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  /* @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  } */